
<div class="container-fluid" ng-controller='storeCtrl'>
	<div ng-show='loadingDetails'>
		<center>
	    		<img class="loader" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
	    </center>
	</div>
	<div ng-hide='loadingDetails'>
		<div class="row">
			<div class="full">
				<img id='cover' src="data:{{detail.Details.Cover.filetype}};base64,{{detail.Details.Cover.base64}}" class="cover-image" style="position:fixed;">		
			</div>
		</div>
		<div class="bind">
			<div class="row" style="height:400px;">
					<div style="height:auto;" >
						<h3>Photo Gallery</h3>
						 <div class="container-fluid">
						    <div class="col-md-12">
						        <div class="well">
						            <div id="myCarousel" class="carousel slide">
						                <div class="carousel-inner">
						                    <div class="item active">    
						                        <div class="row" ng-repeat='x in detail.Details.Images'>
						                            <div class="col-sm-2"><img src="data:{{x.filetype}};base64,{{x.base64}}" alt="Image" class="img-responsive">
						                            </div>
						                        </div>
						                    </div>
						                </div>
						                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
						                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-md-6 no-padding">
					<div class="left">
						<h3>About Us</h3>
						<p class="description">{{detail.Details.Description}}</p>
					</div>
					<div class="left">
						<h3>Product Range</h3>
						<div class="productsList" ng-repeat = "x in detail.Details.Products">
							{{x}}
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding">
					<div class="right">
						<h3>Store Hours</h3>
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<label class="pull-right">All Days</label>
								</div>
								<div class="col-md-8">
									<p class="pull-left">{{detail.Details.TimingFrom}} - {{detail.Details.TimingTo}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>